POSTGRES_DSN=postgresql://queen:queen@localhost:5432/queen_test?sslmode=disable
MYSQL_DSN=queen:queen@tcp(localhost:3306)/queen_test?parseTime=true
CLICKHOUSE_DSN=clickhouse://queen:queen@localhost:9000/queen_test
COCKROACH_DSN=postgresql://root@localhost:26257/queen_test?sslmode=disable
MSSQL_DSN=sqlserver://sa:Queen123!@localhost:1433?database=queen_test
SQLITE_DSN=./test.db